<div class="content">
  <h3 class="header">forRoot() - dynamic parameter - DATA_APP_BOOTSTRAP</h3>
  <div>
    <h3>Received Data from the Config (APP_BOOTSTRAP)</h3>
    <div class="data-row">
      <span class="desc">envHeaderAppBootstrap:</span>
      <span>{{ envHeaderAppBootstrap }}</span>
    </div>
    <div class="data-row">
      <span class="desc">dataUrlAppBootstrap:</span>
      <span>{{ dataUrlAppBootstrap }}</span>
    </div>
    <div class="data-row">
      <span class="desc">baseUrlAppBootstrap:</span>
      <span>{{ baseUrlAppBootstrap }}</span>
    </div>
  </div>
</div>

<div class="content">
  <h3>Received Data from the Config (APP_INSIGHTS_CONFIG)</h3>
  <div class="data-row">
    <span class="desc">appInsightsConfigHeader:</span>
    <span>{{ appInsightsConfigHeader }}</span>
  </div>
</div>

<div class="content">
  <h3>Received Data from the Config: (BASE_PATH from APP_INITIALIZER)</h3>
  <div class="data-row">
    <span class="desc">basePathAppInitializer:</span
    ><span> {{ basePathAppInitializer }}</span>
  </div>
</div>
