<p>
  <mat-toolbar color="primary">
    <span>Dynamic Angular</span>
    <span>
      <span class="nav-entry"
        ><a routerLink="/environment-ts" routerLinkActive="active"
          >Environment-Ts</a
        ></span
      >
      <span class="nav-entry"
        ><a routerLink="/env-vars-angular" routerLinkActive="active"
          >EnvVarsAngular</a
        ></span
      >
      <span class="nav-entry"
        ><a routerLink="/openapi-contract" routerLinkActive="active"
          >OpenAPI-Contract</a
        ></span
      >
      <span class="nav-entry"
        ><a routerLink="/app-initializer" routerLinkActive="active"
          >APP_INITIALIZER</a
        ></span
      >
      <span class="nav-entry"
        ><a routerLink="/for-root-static" routerLinkActive="active"
          >forRootStat</a
        ></span
      >
      <span class="nav-entry"
        ><a routerLink="/for-root-dynamic" routerLinkActive="active"
          >forRootDyn</a
        ></span
      >
    </span>
  </mat-toolbar>
</p>
<router-outlet> </router-outlet>
